/* apply a natural box layout model to all elements, but allowing components to change */
html {
  box-sizing: border-box;
  font-family: Roboto, sans-serif;
}
*, *:before, *:after {
  box-sizing: inherit;
}

html, body {
  margin: 0;
}

.MainContent {
  display: flex;
  flex-direction: row;
  min-height:600px;
  align-items: stretch;
}

.ChatListSidebar {
  flex-shrink: 0;
  flex-grow: 0;
  display: block;
  width: 350px;
  border-right: 1px solid #e2e2e2;
}

.ChatContent {
  display:block;
  height: 600px;
  position: relative;
  width: 100%;
}

.ChatContent__Toolbar {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 50px;
}

.ChatContent__Input {
  width: 100%;
  height: 36px;
  font-size: 14px;
  padding-left: 10px;
}

.Messages {
  height: 500px;
  overflow: scroll;
}

.Message--send {
  text-align: right;
}

.Message--received {
 text-align: left;
}

.Message {
  margin: 16px;
}

.Message__inner {
  display: inline-block;
  padding: 10px;
  border-radius: 5px;
}

.Message__name {
  font-color: #91959d;
  margin-bottom: 5px;
}

.Message--received .Message__inner {
  background: #f1f0f0;
}

.Message--send .Message__inner {
  background: #00bcd4;
}

.SubHeader {
  height: 48px;
  background: #00bcd4;
  display: flex;
  align-items: center;
  padding: 0 14px;
  justify-content: space-between;
}

.SubHeader h1 {
  color: #fff;
  font-size: 16px;
  font-weight: normal;
  margin: 0;
}

.PersonInfo {
  border-left: 1px solid #e2e2e2;
  flex-shrink: 0;
  flex-grow: 0;
  width: 400px;
  height: 600px;

}

.PersonInfo__content {
  padding: 10px;
  height: 550px;
  overflow: auto;
}

.InfoTable {
  width: 100%;
  line-height: 1.5em;

  tr {
    padding-bottom: 10px;
  }

  th {
    text-align: left;
  }
}

.round {
  border-radius: 50%;
  overflow:hidden;
}

.centered {
  display: flex;
  align-items: center;
  justify-content: center;
}

.PolicyLineList {
  list-style: none;
  padding: 0;
}

.PolicyLineList__item--included {
  padding-left: 40px;
  margin-bottom: 10px;
  background-repeat: no-repeat;
  background-position: left center;
  background-image: url('../assets/check-icon.svg');
}

.PolicyLineList__item--excluded {
  padding-left: 40px;
  margin-bottom: 10px;
  background-repeat: no-repeat;
  background-position: left center;
  background-image: url('../assets/close-icon.svg');
}



